{% extends "base.html" %}

{%block title %}
  Index
{%endblock %}

{% block content %}
  <h1>Index Page</h1>
  <ul>
    {% for person in people %}
    <li> {{ person }} <button type="" onclick="deletePerson({{ person.pid }})"> Delete </button>
      <a href="{{ url_for("details", pid=person.pid) }}">Details</a>
    </li>
    {% endfor %} 
  </ul>

  <h3>New Person</h3>
  <form action="{{ url_for("index") }}" method=POST>
    <input type="text" name="name" value="" placeholder="Name" required="required"><br>
    <input type="number" name="age" value="" placeholder="Age"><br>
    <input type="text" name="job" value="" placeholder="Job"><br>
    <input type="submit" name="" value="Create">
  </form>

  <script>
    function deletePerson(pid){
      fetch("{{ url_for("delete", pid=pid) }}" + pid,{
        method: "DELETE"
      }).then(response=>{
        if(response.ok){
          window.location.reload();
        }
        else{
          console.error("Failed to delete item with pid: ", pid);
        }
      }).catch(error=>{
        console.error("Error during fetching: ", error)
      });
    }
  </script>

{% endblock %}
